article img {
    justify-self: center;
}

.about-article {
    display: grid;
    grid-gap: 15px;
}

h3 {
    font-size: 20px;
}

.highlights {
    border-left: 1px solid var(--black);
    padding: 10px;
}

/* Media Queries */
@media screen and (min-width: 992px) {
    .about-article {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1367px) {
    .about-article {
        padding: 0 8rem;
    }
}
.about-main{color: black; margin-bottom: 20px}