.nav-logo {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 80px;
    z-index: 10;
}

.navbar {
    padding: 0.5rem 1rem;
    z-index: 10;
}

.navbar-toggler {
    cursor: pointer;
    padding: 20px;
    margin: 0;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
}

.navbar-toggler .toggler-icon + .toggler-icon {
    margin-top: 4px;
}

.toggler-icon {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--gray);
}

.toggler-icon-home {
    background-color: var(--white);
}

.navbar-collapse {
    position: relative;
    z-index: 9;
    flex-grow: 1;
    align-items: center;
    max-height: 0px;
    overflow: hidden;
    background-color: var(--white);
    transition: max-height 0.5s ease;
}

.navbar-collapse-home {
    background-color: var(--black);
}

.navbar-collapse.show {
    max-height: 250px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 9.5px;
}

li {
    line-height: 32px;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding: 35px 35px 35px 35px;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
}

.navbar-nav-home {
    border-bottom: 1px solid var(--white-secondary);
}

.nav-item {
    height: 39px;
}

.nav-link {
    display: block;
    color: var(--gray-light);
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 19px;
    font-weight: 200;
    color: var(--black);
}

.nav-link-home {
    color: var(--white-transparent);
}

/* media queries */
@media screen and (max-width: 992px) {
    .navbar {
        padding: 0;
    }
}

@media screen and (min-width: 992px) {
    header {
        display: flex;
        justify-content: center;
    }

    .navbar-toggler {
        display: none;
    }

    .navbar-collapse {
        display: flex;
        flex-basis: auto;
        background-color: transparent;
        padding: 30px 0px;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-nav .nav-link {
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav-link {
        border-right: 1px solid var(--black);
        padding-top: 0.5px;
        padding-bottom: 0.5px;
        
    }

    .nav-link-home {
        border-right: 1px solid var(--white);
    }

    .nav-item:last-child a {
        border-right: none;
    }
}

@media (hover: hover) and (pointer: fine) {
    .nav-link:hover {
        color: var(--gray-dark);
        font-weight: 700;
    }

    .nav-link-home:hover {
        color: var(--white);
        font-weight: 700;
    }
}
