form {
    padding: 0px 15px;
    box-sizing: border-box;
}

input,
textarea {
    width: 100%;
    height: 40px;
    padding: 8px 14px;
    border: 1px solid var(--black);
    border-radius: 0;
    font-size: 13px;
    line-height: 1.78;
    color: var(--gray-secondary);
    font-family: "Roboto Mono", Helvetica, Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    box-sizing: border-box;
}

textarea {
    height: auto;
    resize: vertical;
}

input:focus,
textarea:focus {
    outline: none;
}

input[type="submit"] {
    padding: 10px 16px;
    font-size: 14px;
    line-height: 1.33;
    border-radius: 0;
    width: auto;
    color: var(--black);
    background-color: var(--white);
    display: block;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s linear;
}

.contact-container {
    padding: 0px 15px;
    margin-bottom: 15px;
}

.contact-container ul,
.contact-container a:first-of-type {
    margin-left: 5px;
}

.svg-inline--fa.fa-w-12 {
    width: 1em;
}

.icon {
    margin-right: 5px;
}

.icon-social {
    padding-right: 10px;
}

[data-tooltip],
[data-tooltip-textarea] {
    position: relative;
}

[data-tooltip]::before,
[data-tooltip-textarea]::before {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #007bff;
    position: absolute;
    transition: all 0.1s ease;
}

[data-tooltip]::before {
    bottom: 20px;
    left: 25px;
}

[data-tooltip-textarea]::before {
    bottom: 121px;
    left: 25px;
}

[data-tooltip]::after,
[data-tooltip-textarea]::after {
    position: absolute;
    padding: 5px 8px;
    background: var(--white);
    color: #007bff;
    border: 1px solid #007bff;
    z-index: 9;
    font-size: 0.8em;
    line-height: 18px;
    font-weight: 700;
    transition: all 0.1s ease;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    bottom: -10px;
    left: 5px;
}

[data-tooltip-textarea]::after {
    content: attr(data-tooltip-textarea);
    bottom: 91px;
    left: 5px;
}

.toaster {
    box-shadow: 0 10px 6px -6px var(--gray-secondary),
        0 3px 3px var(--gray-secondary-transparent);
    max-width: 350px;
}

.toaster-loading {
    background-color: var(--white);
    color: #007bff;
}

.toaster-success {
    background-color: #007bff;
    color: var(--white);
}

.toaster-error {
    background-color: var(--white);
    color: var(--red);
    font-weight: 700;
}

/* Media Queries */
@media screen and (max-width: 992px) {
    .contact-section {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .contact-article {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    form {
        width: 600px;
    }
}

@media screen and (max-width: 375px) {
    .contact-container ul li {
        font-size: 12px;
    }
}

@media (hover: hover) and (pointer: fine) {
    input[type="submit"]:hover {
        background-color: #007bff;
        color: var(--white);
    }

    .icon-social:hover {
        color: #007bff;
    }
}
.contact-main{
    color: black
}